*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style : none;
    text-decoration : none;
    border-collapse : collapse;
    margin : 0px;
    padding : 0px;
    color : #000;
    -ms-overflow-style: none;
}

/* 공통(Top 섹션) */
.header{
    width:100%;
    height:100px;
    position:flex;
    text-align:center;
}

/* 로고 */
.logoArea{
    top:23px;
    height:100px;
    width:100px;
    left: 50px;
    position: absolute;
}

.logoArea a{
    font-weight:border;
    font-size:40px;
    color:black;
    text-decoration-line: none;
    font-family: 'Abril Fatface', cursive;
    text-decoration : none;
}
.logoArea a:hover{
    color:black;
}

/* 메뉴 */
.menu{
    position:relative;
    width: 1000px;
    
    top:40px;
    display:flex;
    margin: 0 auto;
    justify-content: center;
    align-items:center;
    flex-direction:row;


}
.menu > li{

    left:-90px;
    margin-left : 150px;
    font-size:15px;
    position:relative;
    
}

.menu>li>a{
    color:brown;
    font-weight:bold;
    text-decoration-line: none
}

.menu>li:hover{
    transform:scale(2);
}

/* 로그인 */
.sign{
    display:flex;
    position : relative;
    width:150px;
    left:85%;
    text-align:center;

}
.sign>a{
    text-decoration-line: none;
    color:black;
    padding:10px;
    font-size:15px;
    text-align:center;
}
.userID{    
    margin-left:12px;
    font-weight:bolder;
    margin-top:13px;
    font-size:16px;
}

/* 공통(middle 섹션)*/
/* 상단 header와 하단 footer와 달리 middle은 큰 하나의 박스만 공통으로 사용 */
.middle_wrap{
    width:100%;
    position: relative;
}


/* 공통(bottom 섹션)*/
.bottom_wrap{
    display:block;
    position:relative;
    text-align:center;
    height:0px;
    bottom:0;
    margin: 0 auto;
}

/* middle과 footer구분하기 위한 선(<hr>태그) */
.bottom_wrap_line{
    width: 100%;
    color:darkgrey;
    text-align:center;
    margin:0 auto;
}

/* sns이미지 및 링크 */
/* 페이스북, 인스타, 메세지, 유튜브 */
.sns{
    position:relative;
    top:20px;

}
.sns>a{
    margin-left:30px;
    color:white;
}
.sns>a>img{
    border-radius:5px;
}

/* 상호명, 대표 등 회사 소개 */
.introduction{
    position:relative;
    top: 30px;
}
#introduction1{
    color:black;
    font-size:15px; 
}

#introduction2{
    margin-top:10px;
    color:darkgrey;
    font-size:12px;
}



/* 여기서 부터 main부분에서만 사용하는 부분 혹은 선택적 사용 부분.*/

/*배너*/
/* Top과 Middle사이에 들어가는 부분으로 선택적으로 넣음 */
.banner{
    background-image:url("coffee_large2.jpeg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    text-align:center;
    width:100%;
    height:300px;
    position:relative;
}


/* middle */
/* middle 상단 부분 */
.middle_main_upper_wrap{
    position:relative;
    height:1000px;
    background-image:url("coffee_large.jpeg");
    background-size:cover;
}

.middle_main_upper_content{
    text-align:center;

}
.middle_main_upper_content>h1{
    top:120px;
    position:relative;
    font-size:70px;
    font-weight:bold;
    color:rgb(19, 177, 116);    
    font-family: 'Jua', sans-serif;
}

.middle_main_upper_content>li{
    top:130px;
    position:relative;
    font-size:35px;
    color:black;
    font-family: 'Jua', sans-serif;
    padding:0px;
}


.carousel-item.active>img{
    border-radius:10px;
}


.middle_main_upper_image{
    width:600px;    
    text-align:center;
    position:relative;  
    top: 220px;    
    margin:0 auto;
}

/* middle 하단 부분 */
.middle_main_under_wrap{
    display:flex;
    align-items: center;
    justify-content:center;

}
.row{
    position: relative;

    height: 500px;
    width:1200px;
    align-items: center;
    justify-content:center;
}

.card{
    position: relative;
    height:450px;
    width:auto;
    justify-content: space-around;
    font-size:auto;
}
.card-body h5{
    font-weight:bolder;
    color:rgba(119, 2, 51, 0.89);
    font-size:20px;
}

.card-body li{
    color:rgb(94, 94, 94);
    font-size:14px;
}
